body {
    background-color: black;
}

.text {
    color: #9BB9F5;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
}

#title {
    font-size: xx-large;
    font-weight: bolder;
    font-style: italic;
}


.heading, .foodpic {
    text-align: center;
}

#subtitle, #title {
    color: white;
}

#subtitle {
    font-size: 26px;
    font-weight: bold;
}



